@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: black;
}

img {
    height: 200px;
}

.cardContainer {
    margin: 20px 5px;
}

h1 {
    text-align: center;
    margin:45px 0;
    font-weight: bolder;
}

img {
    padding: 25px;
}

body {
    background-color: rgb(150, 175, 161);
}

.inputSize {
    width: 300px;
    margin: 0 100px;
}

.buttonStyle {
    background-color: darkseagreen;
    color: black;
}